.panel:nth-child(1) {
  /*background: #222;*/
  background-image: url("../../res/comunicacao/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.panel:nth-child(2) {
    background: url("../../res/comunicacao/2.png") no-repeat center center/cover;
}

.panel:nth-child(3) {
    background: url("../../res/comunicacao/3.png") no-repeat center center/cover;
}

.panel:nth-child(4) {
    background: url("../../res/comunicacao/4.png") no-repeat center center/cover;
}

.panel:nth-child(5) {
    background: url("../../res/comunicacao/5.png") no-repeat center center/cover;
}

.panel:nth-child(6) {
    background: url("../../res/comunicacao/6.png") no-repeat center center/cover;
}

.panel:nth-child(7) {
    background: url("../../res/comunicacao/7.png") no-repeat center center/cover;
}
.panel:nth-child(8) {
    background: url("../../res/comunicacao/8.png") no-repeat center center/cover;
}
.panel:nth-child(9) {
    background: url("../../res/comunicacao/9.png") no-repeat center center/cover;
}

.panel:nth-child(10) {
    background: url("../../res/comunicacao/10.png") no-repeat center center/cover;
}

.panel:nth-child(11) {
    background: url("../../res/comunicacao/11.png") no-repeat center center/cover;
}

.panel:nth-child(12) {
    background: url("../../res/comunicacao/12.png") no-repeat center center/cover;
}

.panel:nth-child(13) {
    background: url("../../res/comunicacao/13.png") no-repeat center center/cover;
}

.panel:nth-child(14) {
    background: url("../../res/comunicacao/14.png") no-repeat center center/cover;
}

.panel:nth-child(15) {
    background: url("../../res/comunicacao/15.png") no-repeat center center/cover;
}

.panel:nth-child(16) {
    background: url("../../res/comunicacao/16.png") no-repeat center center/cover;
}

.panel:nth-child(17) {
    background: url("../../res/comunicacao/17.png") no-repeat center center/cover;
}

.panel:nth-child(18) {
    background: url("../../res/comunicacao/18.png") no-repeat center center/cover;
}