.panel:nth-child(1) {
  /*background: #222;*/
  background-image: url("https://picsum.photos/id/237/536/354");
  background-repeat: no-repeat;
  background-size: cover;
}

.panel:nth-child(2) {
    background: url("https://picsum.photos/id/241/1920/1080") no-repeat center center/cover;
}

.panel:nth-child(3) {
    background: url("https://picsum.photos/id/241/1920/1080") no-repeat center center/cover;
}

.panel:nth-child(4) {
    background: url("https://picsum.photos/id/241/1920/1080") no-repeat center center/cover;
}

.panel:nth-child(5) {
    background: url("https://picsum.photos/id/241/1920/1080") no-repeat center center/cover;
}

.panel:nth-child(6) {
    background: url("https://picsum.photos/id/241/1920/1080") no-repeat center center/cover;
}

.panel:nth-child(7) {
    background: url("https://picsum.photos/id/241/1920/1080") no-repeat center center/cover;
}

.panel:nth-child(8) {
    background: url("https://picsum.photos/id/241/1920/1080") no-repeat center center/cover;
}
