.panel:nth-child(1) {
    /*background: #222;*/
    background-image: url("../../res/jogos/1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.panel:nth-child(2) {
    background: url("../../res/jogos/2.png") no-repeat center center/cover;
}

.panel:nth-child(3) {
    background: url("../../res/jogos/3.png") no-repeat center center/cover;
}

.panel:nth-child(4) {
    background: url("../../res/jogos/4.png") no-repeat center center/cover;
}

.panel:nth-child(5) {
    background: url("../../res/jogos/5.png") no-repeat center center/cover;
}

.panel:nth-child(6) {
    background: url("../../res/jogos/6.png") no-repeat center center/cover;
}

.panel:nth-child(7) {
    background: url("../../res/jogos/7.png") no-repeat center center/cover;
}