.panel:nth-child(1) {
  /*background: #222;*/
  background-image: url("../../res/portateis/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.panel:nth-child(2) {
    background: url("../../res/portateis/2.png") no-repeat center center/cover;
}

.panel:nth-child(3) {
    background: url("../../res/portateis/3.png") no-repeat center center/cover;
}

.panel:nth-child(4) {
    background: url("../../res/portateis/4.png") no-repeat center center/cover;
}

.panel:nth-child(5) {
    background: url("../../res/portateis/5.png") no-repeat center center/cover;
}

.panel:nth-child(6) {
    background: url("../../res/portateis/6.png") no-repeat center center/cover;
}

.panel:nth-child(7) {
    background: url("../../res/portateis/7.png") no-repeat center center/cover;
}
.panel:nth-child(8) {
    background: url("../../res/portateis/8.png") no-repeat center center/cover;
}
.panel:nth-child(9) {
    background: url("../../res/portateis/9.png") no-repeat center center/cover;
}

.panel:nth-child(10) {
    background: url("../../res/portateis/10.png") no-repeat center center/cover;
}

.panel:nth-child(11) {
    background: url("../../res/portateis/11.png") no-repeat center center/cover;
}